﻿body
{
    font-family: 'lucida grande' ,tahoma,verdana,arial,sans-serif;
    background-color: #e9e9e9;
}

body p
{
    font-size: 0.8em;
    line-height: 1.28;
    margin-top: 0px;
}

#wrapper
{
    width: 1080px;

    background-color: white;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #dedede;    
}

#banner {
    background-image: url('../image/pizza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    border: 3px solid #E3E3E3;
}

#content_area {
    float: none;
    width: 1058px;
    margin: 13px 0 20px 0;
    padding: 10px;
    background-image: url('http://localhost:59554/image/cream.jpg');
}

/*#sidebar {
    background-image: url('image/blurred.jpg');
    float: left;
    width: 250px;
    height: 399px;
    margin: 13px 10px 20px 10px;
    padding: 10px;
    border: 2px solid #E3E3E3;
}*/

#footer {
    clear: both;
    width: auto;
    height: 40px;
    padding: 10px;
    border: 3px solid #E3E3E3;
    text-align: center;
    color: #fff;
    text-shadow: 0.1em 0.1em #333;
    background-image: url(http://localhost:59554/image/cream.jpg);
}

#navigation {
    height: 60px;
    border: 3px solid #E3E3E3;
    margin-top: 6px;
    background-image: url(http://localhost:59554/image/cream.jpg);
   
}

#nav
{
    list-style: none;
    margin-top: 0px;
}

#nav ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    display: none;
}

#nav li
{   
    text-align:center;
    font-size: 20px;
    float: left;
    position: relative;
    width: 187px;
    height: 54px;
    top: -4px;
    left: 22px;
}

    #nav li ul li {
        background-color:black;
        background-repeat: no-repeat;
        background-size: cover;
        border: 3px solid #E3E3E3;
        padding-left: 10px;
    }

#nav a:link, #nav a:active, #nav a:visited
{
    display: block;
    color: black;
    text-decoration: none;
    margin-top: 0px;
}

#nav a:hover
{
    color:black;
}


.imgLeft
{
    float: left;
    width: 240px;
    height: 150px;
    margin: 0px 10px 10px 0;
    padding: 10px;
}

.imgRight
{
    float: right;
    width: 200px;
    height: 250px;
    margin: 0px 0 10px 10px;
    padding: 10px;
}
