﻿
body 
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#e9e9e9;
}

#wrapper
{
    width:1080px;
    height:auto;
    margin:auto;
    padding:10px;
    border:5px solid #dedede;
    background-color:#fff;
}

#banner
{
     height: 200px;
    border: 3px solid #e3e3e3;
    background-image: url('../image/pizza.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

#navigation
{
    height: 60px;
    width: auto;
    border: 3px solid #e3e3e3;
    margin-top: 20px;
    background-image: url('../image/cream.jpg');
}

#nav
{
    list-style:none;
}

#nav ul
{
    list-style:none;
    margin:0;
    padding:0;
    width:auto;
    display:none;
}

    #nav li {
        font-size: 24px;
        float: left;
        position: relative;
        width: 180px;
        height: 50px;
    }

#nav a:link,#nav a:active,#nav a:visited
{
    display:block;
    color:#fff;
    text-decoration:none;
}

#nav a:hover
{
    color:black;
}
#content_area
{
   background-image: url('../image/cream.jpg');
    clear:both;
    width:auto;
    height:500px;
    margin:20px 0 20px 0;
    padding:10px;
    border:3px solid #e3e3e3;
}

#footer
{ clear:both;
    width:auto;
    height:45px;
    margin-right:30px;
    background-image: url('../image/cream.jpg');
    
    color:#000000;
    text-align:center;
}