﻿<%@ Page Title="" Language="C#" MasterPageFile="~/layout.master" AutoEventWireup="true" CodeFile="Admin1.aspx.cs" Inherits="Admin1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
     <div style="margin-top: 16px">
       
        <table style="width: 383px; height: 299px; margin-left: 397px; margin-top: 62px">
           <tr><td style="text-align:center" colspan="2"><h2>Admin Login...</h2></td></tr>
            
             <tr>
                <td class="auto-style5">
                    <h3>Name :</h3></td>
                <td class="auto-style6">
                    <asp:TextBox ID="txtname" runat="server" Height="28px" Width="160px"></asp:TextBox></td>
            </tr>

            <tr>
                <td class="auto-style3">
                    <h3>Password :</h3></td>
                <td class="auto-style4">
                    <asp:TextBox ID="txtpasswd" runat="server" Height="28px" Width="160px" TextMode="Password"></asp:TextBox></td>
            </tr>

            <tr>
                <td colspan="2" style="text-align:center">
                    <asp:Button ID="Button1" runat="server" Text="Login" Width="121px" Height="36px" OnClick="Button1_Click" /></td>
            </tr>
            <tr><td colspan="2" style="text-align:center">
                <asp:Label ID="LblMsg" runat="server" ForeColor="Red"></asp:Label></td></tr>
        </table>
    </div>
</asp:Content>

