﻿<%@ Page Title="" Language="C#" MasterPageFile="~/layout.master" AutoEventWireup="true" CodeFile="home.aspx.cs" Inherits="_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <style type="text/css">
        .auto-style3 {
            width: 337px;
            height: 68px;
        }
        .auto-style4 {
            width: 398px;
            height: 68px;
        }
        .auto-style5 {
            width: 337px;
            height: 75px;
        }
        .auto-style6 {
            width: 398px;
            height: 75px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div>
       
        <table style="width: 383px; height: 299px; margin-left: 397px; margin-top: 62px">
           <tr><td style="text-align:center" colspan="2"><h2>ORDER HERE...</h2></td></tr>
            
             <tr>
                <td class="auto-style5">
                    <h3>Name :</h3></td>
                <td class="auto-style6">
                    <asp:TextBox ID="Txtname" runat="server" Height="28px" Width="160px"></asp:TextBox></td>
            </tr>

            <tr>
                <td class="auto-style3">
                    <h3>Table No. :</h3></td>
                <td class="auto-style4">
                    <asp:TextBox ID="Txttable" runat="server" Height="28px" Width="160px"></asp:TextBox></td>
                <td>
                    </td>
            </tr>

            <tr>
                <td colspan="2" style="text-align:center">
                    <asp:Button ID="Order" runat="server" Text="ORDER" Width="121px" Height="36px" OnClick="Order_Click"/></td>
            </tr>
        </table>
    </div>
</asp:Content>

