﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="kitchen.aspx.cs" Inherits="kitchen" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="css/navigation.css" rel="stylesheet" />
    <link href="css/Style.css" rel="stylesheet" />
   
    <style type="text/css">
        .auto-style1 {
            width: 298px;
        }
        .auto-style2 {
            width: 102px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
     <div id="wrapper">

        <div id="banner">

        </div>
        <div id="navigation">
            <ul id="nav">
                <li><a href="Menu.aspx">Menu items</a></li>
                <li><a href="contact.aspx">Feedback</a></li>
                <li><a href="Admin1.aspx">logout</a></li>
            </ul>
        </div>
        <div id="content_area">
    </div>
    <div id="footer">
            All rights reserved..!!!
        </div>
         </div>
    </form>
</body>
</html>
